/* Box sizing rules */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*  COLORS   */
/*  Background  */
/*  Main (purple)   */
/*  Accent (blue)   */
/*  Text (white/off-white)  */
body {
  font-family: 'Montserrat', sans-serif;
  position: relative;
}

html {
  overflow-y: scroll;
}

.btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.btn-group .btn-left {
  justify-self: flex-start;
}

.btn-group .btn-right {
  justify-self: flex-end;
}

.btn-group .btn-empty {
  visibility: hidden;
}

.btn {
  cursor: pointer;
  text-decoration: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.375em 0.625em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid transparent;
  border-radius: 5px;
  font-weight: 500;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.btn:hover, .btn:focus {
  background-color: transparent;
}

.btn-round {
  border-radius: 50%;
  aspect-ratio: 1 / 1;
}

.btn-primary {
  background-color: #6868ca;
  color: #f7f7f7;
}

.btn-primary:hover, .btn-primary:focus {
  border-color: #6868ca;
  color: #6868ca;
}

body {
  background-color: #1e1e1e;
  color: #f7f7f7;
}

.header-main {
  background-color: #242526;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 0;
  z-index: 999;
}

.header-main > .search,
.header-main > .profile-interactions {
  width: 20%;
}

.header-main > .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: var(--gap, 5px);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  height: 100%;
}

.header-main > .search > a {
  display: block;
  height: 75%;
}

.header-main > .search > a > img {
  height: 100%;
}

.header-main > .search > form {
  height: 100%;
  width: 100%;
}

.header-main > .search > form > input {
  width: 100%;
  height: 100%;
  background-color: #3a3b3c;
  padding: 0 20px;
  color: #f7f7f7;
  border-radius: 30px;
  border: 0;
  outline: 0;
}

.header-main > .search > form > input::-webkit-input-placeholder {
  color: #b8bbbf;
}

.header-main > .search > form > input:-ms-input-placeholder {
  color: #b8bbbf;
}

.header-main > .search > form > input::-ms-input-placeholder {
  color: #b8bbbf;
}

.header-main > .search > form > input::placeholder {
  color: #b8bbbf;
}

.header-main > .search > form button {
  display: none;
  color: #f7f7f7;
  background-color: #3a3b3c;
}

.header-main > .search > form button:hover {
  background-color: #4e4f50;
}

.header-main > .tabs {
  width: 60%;
  height: 100%;
}

.header-main > .tabs > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
}

.header-main > .tabs > ul > li {
  list-style: none;
  width: 20%;
  height: 100%;
  position: relative;
  padding: 5px;
  padding-bottom: 0;
}

.header-main > .tabs > ul > li:last-child {
  display: none;
}

.header-main > .tabs > ul > li a {
  color: #b8bbbf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.5em;
  border-bottom: 2px solid transparent;
  border-radius: 7.5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header-main > .tabs > ul > li a.active {
  pointer-events: none;
  border-radius: 0;
  color: #6868ca;
  border-color: #6868ca;
}

.header-main > .tabs > ul > li a:hover {
  background-color: #3a3b3c;
}

.header-main > .tabs > ul > li a:hover + span {
  opacity: 0.7;
}

.header-main > .tabs > ul > li > span {
  position: absolute;
  top: calc(100% + 2px);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 0.25em 0.5em;
  pointer-events: none;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-color: #f7f7f7;
  color: #000;
  font-weight: 500;
  opacity: 0;
  border-radius: 7.5px;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.header-main > .profile-interactions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  height: 100%;
  margin-right: 10px;
}

.header-main > .profile-interactions > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  height: 100%;
  margin: 0;
  margin-left: auto;
}

.header-main > .profile-interactions > ul > li {
  list-style: none;
  height: 100%;
}

.header-main > .profile-interactions > ul > li > .btn {
  height: 100%;
  background-color: #3a3b3c;
  color: #f7f7f7;
  font-size: 1.2em;
}

.header-main > .profile-interactions > ul > li > .btn:hover {
  background-color: #4e4f50;
}

.header-main > .profile-interactions > ul > li > .btn.profile {
  background-color: transparent;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  border-radius: 30px;
}

.header-main > .profile-interactions > ul > li > .btn.profile > img {
  height: 125%;
  aspect-ratio: 1;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header-main > .profile-interactions > ul > li > .btn.profile:hover {
  background-color: #3a3b3c;
}

@media only screen and (max-width: 1024px) {
  .search input {
    display: none;
  }
  .search button {
    display: inline-block !important;
  }
  .tabs ul {
    width: 90% !important;
  }
  .tabs ul li:nth-child(5) {
    display: none;
  }
  .tabs ul li:last-child {
    display: inline-block !important;
  }
  .profile-interactions ul li:first-child {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .tabs {
    width: 45% !important;
  }
  .tabs ul {
    width: 100% !important;
  }
  .tabs ul li:not(:last-child) {
    display: none;
  }
  .tabs ul li:last-child {
    display: inline-block !important;
  }
  .profile-interactions ul li:first-child {
    display: none;
  }
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
}

main .nav-secondary,
main .overview {
  width: 20%;
}

main .content {
  width: 60%;
}

@media only screen and (max-width: 1024px) {
  .nav-secondary {
    display: none;
  }
  .content {
    width: 70% !important;
  }
  .content .cards {
    width: 90% !important;
  }
  .overview {
    width: 30% !important;
  }
}

@media only screen and (max-width: 768px) {
  .content {
    width: 80% !important;
    margin: 0 auto;
    margin-bottom: 15px;
  }
  .content .cards {
    width: 100% !important;
  }
  .overview {
    display: none;
  }
}

.nav-secondary,
.overview-panel {
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 40px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  height: calc(100vh - 65px);
  overflow-y: auto;
}

.nav-secondary::-webkit-scrollbar,
.overview-panel::-webkit-scrollbar {
  width: 20px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  visibility: hidden;
}

.nav-secondary::-webkit-scrollbar-thumb,
.overview-panel::-webkit-scrollbar-thumb {
  background-color: #666768;
  border-radius: 40px;
  width: 10px;
}

.overview-panel:hover .overview-panel::-webkit-scrollbar {
  visibility: visible;
}

.nav-secondary,
.overview-panel > .nav-overview {
  padding: 5px;
}

.nav-secondary > ul,
.overview-panel > .nav-overview > ul {
  padding: 0;
  margin: 0;
}

.nav-secondary > ul > li,
.overview-panel > .nav-overview > ul > li {
  list-style: none;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  max-height: 100px;
}

.nav-secondary > ul > li.hidden-info,
.overview-panel > .nav-overview > ul > li.hidden-info {
  max-height: 0;
  opacity: 0;
  pointer-events: none;
}

.nav-secondary > ul > li > a,
.overview-panel > .nav-overview > ul > li > a {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: var(--gap, 15px);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #f7f7f7;
  border-radius: 7.5px;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}

.nav-secondary > ul > li > a > img,
.nav-secondary > ul > li > a > i,
.overview-panel > .nav-overview > ul > li > a > img,
.overview-panel > .nav-overview > ul > li > a > i {
  height: 40px;
  aspect-ratio: 1;
  border-radius: 50%;
}

.nav-secondary > ul > li > a > img,
.overview-panel > .nav-overview > ul > li > a > img {
  -o-object-fit: cover;
     object-fit: cover;
}

.nav-secondary > ul > li > a > i,
.overview-panel > .nav-overview > ul > li > a > i {
  color: #8691e2;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.5em;
}

.nav-secondary > ul > li > a.more i,
.overview-panel > .nav-overview > ul > li > a.more i {
  background-color: #3a3b3c;
  color: #f7f7f7;
  font-size: 1em;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.nav-secondary > ul > li > a.more.rotated i,
.overview-panel > .nav-overview > ul > li > a.more.rotated i {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.nav-secondary > ul > li > a:hover,
.overview-panel > .nav-overview > ul > li > a:hover {
  background-color: #3a3b3c;
}

.nav-secondary > ul > li > a:hover.more i,
.overview-panel > .nav-overview > ul > li > a:hover.more i {
  background-color: #4e4f50;
}

.nav-secondary .break-line,
.overview-panel > .nav-overview .break-line {
  display: block;
  width: 95%;
  height: 2px;
  background-color: #3a3b3c;
  margin: 10px;
  pointer-events: none;
}

.content .cards {
  width: 60%;
  margin: 0 auto;
  padding-top: 15px;
}

.content .cards .card {
  background-color: #242526;
  border-radius: 7.5px;
}

.content .cards .card:not(:last-child) {
  margin-bottom: 15px;
}

.content .cards .card header {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  height: 100px;
}

.content .cards .card header img,
.content .cards .card header button {
  height: 100%;
  aspect-ratio: 1;
}

.content .cards .card header img {
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.content .cards .card header .profile-info {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content .cards .card header .profile-info a {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #f7f7f7;
  text-decoration: none;
  font-size: 1.5em;
}

.content .cards .card header .profile-info a:hover {
  text-decoration: underline;
}

.content .cards .card header .profile-info span {
  color: #b8bbbf;
  font-size: 1.2em;
}

.content .cards .card header button {
  background-color: transparent;
  color: #b8bbbf;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.content .cards .card header button:hover {
  background-color: #3a3b3c;
}

.content .cards .card .body {
  width: 100%;
}

.content .cards .card .body .post-text {
  padding: 15px;
  padding-top: 0;
  font-weight: 500;
}

.content .cards .card .body .post-text a {
  display: inline-block;
  text-decoration: none;
  color: #8691e2;
  font-weight: 500;
}

.content .cards .card .body .post-text a:hover {
  text-decoration: underline;
}

.content .cards .card .body .post-image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.content .cards .card footer {
  padding: 15px;
}

.content .cards .card footer .info {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #b8bbbf;
}

.content .cards .card footer .info .likes:hover,
.content .cards .card footer .info .comments:hover {
  text-decoration: underline;
}

.content .cards .card footer .line-break {
  width: 100%;
  height: 2px;
  background-color: #4e4f50;
  margin: 15px 0;
}

.content .cards .card footer .interactions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content .cards .card footer .interactions button {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 33%;
  padding: 10px;
  background-color: transparent;
  color: #b8bbbf;
  border: none;
  border-radius: 7.5px;
  outline: none;
  font-size: 1.5em;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.content .cards .card footer .interactions button:hover {
  background-color: #3a3b3c;
}

.overview {
  padding-top: 10px;
  overflow-y: auto;
  top: 30px;
}

.overview .projects:not(.active),
.overview .journals:not(.active),
.overview .tasks:not(.active) {
  display: none;
}

.overview .overview-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.overview .overview-tabs .overview-tab {
  cursor: pointer;
  width: 33%;
  background-color: transparent;
  border: 2px solid #b8bbbf;
  border-radius: 7.5px 7.5px 0 0;
  outline: none;
  color: #b8bbbf;
  opacity: 0.5;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.overview .overview-tabs .overview-tab.active {
  pointer-events: none;
  border-bottom: 0;
  z-index: 999;
  opacity: 1;
}

.overview .overview-tabs .overview-tab:hover {
  opacity: 0.7;
}

.overview .overview-panel .break-line {
  display: block;
  width: 95%;
  height: 2px;
  background-color: #3a3b3c;
  margin: 10px;
  pointer-events: none;
}

.overview .overview-panel header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0 10px;
  color: #b8bbbf;
}

.overview .overview-panel header .title {
  font-size: 1rem;
}

.overview .overview-panel header .filtering {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: var(--gap, 10px);
  position: relative;
}

.overview .overview-panel header .filtering .filter {
  background-color: transparent;
  border: none;
  outline: none;
  color: #b8bbbf;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.overview .overview-panel header .filtering .filter .description {
  pointer-events: none;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  right: 0;
  top: calc(100% + 0.5em);
  background-color: #b8bbbf;
  color: #000;
  padding: 5px 10px;
  border-radius: 10px;
  opacity: 0.8;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.overview .overview-panel header .filtering .filter.active {
  color: #8691e2;
  border-bottom: 2px solid #8691e2;
  pointer-events: none;
}

.overview .overview-panel header .filtering .filter:hover {
  background-color: #3a3b3c;
}

.overview .overview-panel header .filtering .filter:hover > .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.overview .overview-panel .nav-overview {
  padding-left: 0;
}

.d-none {
  display: none;
}
/*# sourceMappingURL=style.css.map */